html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://www.hdwallpapers.in/walls/air_balloon_planet-wide.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
